* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fl {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.aside {
  width: 200px;
  background-color: #f1cdcd;
  float: left;
  padding: 20px;
  margin-right: 20px;
  height: 10000px;
  margin-bottom: -9990px;
}

.main {
  overflow: hidden;
  padding: 20px;
  background-color: #f0f1aa;
}
